/managers/.idea/.name
/managers/.idea/dataSources/2e14d5d0-5b7c-4002-8daa-aaf0ac598395.xml
/.gradle/checksums/checksums.lock
/managers/.idea/dataSources.local.xml
/statistics/.idea/dataSources.local.xml
/managers/.idea/dataSources.xml
/statistics/.idea/dataSources.xml
#/managers/src/main/go/com.github/docs/docs.go
/statistics/.idea/dataSources/e808c2fc-edd7-4d27-814e-c2874318457d.xml
/.gradle/6.3/fileHashes/fileHashes.lock
/.gradle/6.3/gc.properties
/.gradle/vcs-1/gc.properties
/managers/.idea/dataSources/2e14d5d0-5b7c-4002-8daa-aaf0ac598395/storage_v2/_src_/database/managers_default.db.xEJUhg/schema/information_schema.FNRwLQ.meta
/managers/.idea/dataSources/2e14d5d0-5b7c-4002-8daa-aaf0ac598395/storage_v2/_src_/database/postgres.edMnLQ/schema/information_schema.FNRwLQ.meta
/managers/.idea/dataSources/2e14d5d0-5b7c-4002-8daa-aaf0ac598395/storage_v2/_src_/database/products_default.db.Bi2t9Q/schema/information_schema.FNRwLQ.meta
/statistics/.idea/dataSources/e808c2fc-edd7-4d27-814e-c2874318457d/storage_v2/_src_/database/postgres.edMnLQ/schema/information_schema.FNRwLQ.meta
/statistics/.idea/dataSources/e808c2fc-edd7-4d27-814e-c2874318457d/storage_v2/_src_/database/statistics_default.db.508Vfg/schema/information_schema.FNRwLQ.meta
/managers/.idea/dataSources/2e14d5d0-5b7c-4002-8daa-aaf0ac598395/storage_v2/_src_/database/managers_default.db.xEJUhg/schema/information_schema.FNRwLQ.zip
/managers/.idea/dataSources/2e14d5d0-5b7c-4002-8daa-aaf0ac598395/storage_v2/_src_/database/postgres.edMnLQ/schema/information_schema.FNRwLQ.zip
/managers/.idea/dataSources/2e14d5d0-5b7c-4002-8daa-aaf0ac598395/storage_v2/_src_/database/products_default.db.Bi2t9Q/schema/information_schema.FNRwLQ.zip
/statistics/.idea/dataSources/e808c2fc-edd7-4d27-814e-c2874318457d/storage_v2/_src_/database/postgres.edMnLQ/schema/information_schema.FNRwLQ.zip
/statistics/.idea/dataSources/e808c2fc-edd7-4d27-814e-c2874318457d/storage_v2/_src_/database/statistics_default.db.508Vfg/schema/information_schema.FNRwLQ.zip
/.gradle/6.3/fileChanges/last-build.bin
/managers/.idea/managers.iml
/managers/.idea/dataSources/2e14d5d0-5b7c-4002-8daa-aaf0ac598395/storage_v2/_src_/database/managers_default.db.xEJUhg.meta
/managers/.idea/misc.xml
/statistics/.idea/misc.xml
/managers/.idea/modules.xml
/statistics/.idea/modules.xml
/managers/.idea/dataSources/2e14d5d0-5b7c-4002-8daa-aaf0ac598395/storage_v2/_src_/database/managers_default.db.xEJUhg/schema/pg_catalog.0S1ZNQ.meta
/managers/.idea/dataSources/2e14d5d0-5b7c-4002-8daa-aaf0ac598395/storage_v2/_src_/database/postgres.edMnLQ/schema/pg_catalog.0S1ZNQ.meta
/managers/.idea/dataSources/2e14d5d0-5b7c-4002-8daa-aaf0ac598395/storage_v2/_src_/database/products_default.db.Bi2t9Q/schema/pg_catalog.0S1ZNQ.meta
/statistics/.idea/dataSources/e808c2fc-edd7-4d27-814e-c2874318457d/storage_v2/_src_/database/postgres.edMnLQ/schema/pg_catalog.0S1ZNQ.meta
/statistics/.idea/dataSources/e808c2fc-edd7-4d27-814e-c2874318457d/storage_v2/_src_/database/statistics_default.db.508Vfg/schema/pg_catalog.0S1ZNQ.meta
/managers/.idea/dataSources/2e14d5d0-5b7c-4002-8daa-aaf0ac598395/storage_v2/_src_/database/managers_default.db.xEJUhg/schema/pg_catalog.0S1ZNQ.zip
/managers/.idea/dataSources/2e14d5d0-5b7c-4002-8daa-aaf0ac598395/storage_v2/_src_/database/postgres.edMnLQ/schema/pg_catalog.0S1ZNQ.zip
/managers/.idea/dataSources/2e14d5d0-5b7c-4002-8daa-aaf0ac598395/storage_v2/_src_/database/products_default.db.Bi2t9Q/schema/pg_catalog.0S1ZNQ.zip
/statistics/.idea/dataSources/e808c2fc-edd7-4d27-814e-c2874318457d/storage_v2/_src_/database/postgres.edMnLQ/schema/pg_catalog.0S1ZNQ.zip
/statistics/.idea/dataSources/e808c2fc-edd7-4d27-814e-c2874318457d/storage_v2/_src_/database/statistics_default.db.508Vfg/schema/pg_catalog.0S1ZNQ.zip
/managers/.idea/dataSources/2e14d5d0-5b7c-4002-8daa-aaf0ac598395/storage_v2/_src_/database/postgres.edMnLQ.meta
/statistics/.idea/dataSources/e808c2fc-edd7-4d27-814e-c2874318457d/storage_v2/_src_/database/postgres.edMnLQ.meta
/managers/.idea/dataSources/2e14d5d0-5b7c-4002-8daa-aaf0ac598395/storage_v2/_src_/database/products_default.db.Bi2t9Q.meta
/managers/.idea/dataSources/2e14d5d0-5b7c-4002-8daa-aaf0ac598395/storage_v2/_src_/database/managers_default.db.xEJUhg/schema/public.abK9xQ.meta
/managers/.idea/dataSources/2e14d5d0-5b7c-4002-8daa-aaf0ac598395/storage_v2/_src_/database/postgres.edMnLQ/schema/public.abK9xQ.meta
/managers/.idea/dataSources/2e14d5d0-5b7c-4002-8daa-aaf0ac598395/storage_v2/_src_/database/products_default.db.Bi2t9Q/schema/public.abK9xQ.meta
/statistics/.idea/dataSources/e808c2fc-edd7-4d27-814e-c2874318457d/storage_v2/_src_/database/postgres.edMnLQ/schema/public.abK9xQ.meta
/statistics/.idea/dataSources/e808c2fc-edd7-4d27-814e-c2874318457d/storage_v2/_src_/database/statistics_default.db.508Vfg/schema/public.abK9xQ.meta
/statistics/.idea/statistics.iml
/statistics/.idea/dataSources/e808c2fc-edd7-4d27-814e-c2874318457d/storage_v2/_src_/database/statistics_default.db.508Vfg.meta
#/managers/src/main/go/com.github/docs/swagger.json
#/managers/src/main/go/com.github/docs/swagger.yaml
/managers/.idea/vcs.xml
/statistics/.idea/vcs.xml
/statistics/.idea/webResources.xml
/managers/.idea/workspace.xml
/statistics/.idea/workspace.xml
/managers/build/
