*.dll
*.dylib
*.exe
*.exe~
*.so

# Testing
*.test
*.tmp

# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
#/src/main/go/com.github/docs/
/build/
/.idea/dataSources/e808c2fc-edd7-4d27-814e-c2874318457d/storage_v2/_src_/database/
