*.dll
*.dylib
*.exe
*.exe~
*.so

# Testing
*.test
*.tmp

# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
#/src/main/go/com.github/docs/
/build/
