server:
  port: 8888
eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery:3000/eureka
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: file:///config
          searchPaths:
            - '{application}/{profile}'
            - '/global/{profile}'
            - '/keystore/{profile}'